/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
++++++++++
TYPOGRAPHY
++++++++++
*/

body {
	font-size: 100%;
	font-family: sans-serif;
	line-height: 1.2;
}

/*
h1 - logo in header
h2 - section headings
h3 - portfolio project titles
h4 - footer sections
*/

p {
	color: #17284d;
	margin-bottom: 0.5em;
	margin-top: 0.5em;
	font-size: 1.2em;
	line-height: 1.4;
}

h1,
h2,
h3,
h4 {
	font-family: "Exo 2", sans-serif;
	margin-bottom: 0.8em;
	color: #3e5a9a;
}

h1 {
	font-weight: 300;
	font-size: 3em;
	text-shadow: 1px 1px 0px #7497e6,
							-1px -1px 0px #7497e6;
	margin-bottom: 0;
}

h2 {
	font-weight: 500;
	font-style: italic;
	font-size: 1.8em;
	text-align: center;
}

h3 {
	font-weight: 700;
	font-size: 0.9em;
	text-transform: uppercase;
	color: #9a7f3e;
}

h4 {
	font-weight: 300;
	text-transform: uppercase;
	color: #7497e6;
}

/*
++++++++++
GRID STRUCTURE
++++++++++
*/

.page {
	margin-left: 8%;
	margin-right: 8%;
	padding-top: 13em; /* shift for header + 3em*/
	margin-bottom: -7em; /* shift for header + 3em */
	padding-bottom: 6em;
	border-bottom: 1px solid #9a7f3e;
}

.page:last-child {
	margin-bottom: 0em; /* remove shift for header */
	border-bottom: none;
}


/*
++++++++++
HEADER, FOOTER
++++++++++
*/

header, footer {
  background: #17284d;
}

header {
	position: fixed;
	top: 0px;
	width: 100%;
	height: 6em;
	padding: 0.5em 0.5em 0.5em 2em;
	box-shadow: 0px 0px 6px 1px #9a7f3e;
	z-index: 5;
}

/*
++++++++++
NAVIGATION
++++++++++
*/

.primary-nav li {
	display: inline-block;
	padding-top: 1em;
	padding-right: 1.5em;
}

.primary-nav a {
	color: #7497e6;
	font-size: 0.9em;
	text-decoration: none;
	text-transform: uppercase;
}

.primary-nav a:hover {
	color: #9a7f3e;
	text-shadow: 1px 1px 1px #9a7f3e;
}

/*
++++++++++
PAGES
++++++++++
*/

#intro {
	background-image: url("../images/artem-sapegin-176819.jpg");
	background-size: cover;
	background-position: center;
	background-color: rgba(0,0,0,0.5);
	margin-left: 0;
	margin-right: 0;
	padding: 13em 15% 6em 15%; /* add extra vertical padding to about-me page */
	text-align: center;
}

#intro h2,
#intro p {
	text-shadow: 0px 0px 10px #fff;
}

#intro p {
	margin-bottom: 0.8em;
	margin-top: 0.8em;
}

.project {
	text-align: center;
}

.project-img {
	width: 400px;
	max-width: 40%;
	height: auto;
	display: inline-block;
	padding-top: 2.5%;
	padding-bottom: 2.5%;
}

.project-description {
	max-width: 50%;
	display: inline-block;
	vertical-align: top;
	text-align: left;
	padding: 2.5% 5%;
}

/*
++++++++++
CONTACT FORM
++++++++++
*/

#contact {
	margin-left: 15%;
	margin-right: 15%;
}

form {
	width: 650px;
	max-width: 90%;
	border: 2px solid #7497e6;
	border-radius: 10px;
	padding-top: 30px;
	padding-bottom: 30px;
	margin: 30px auto;
	text-align: center;
}

label,
input,
textarea {
	display: inline-block;
}

label {
	width: 80%;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: left;
}

input,
textarea {
	width: 90%;
	border-radius: 10px;
	font-size: 1.2em;
	padding-left: 10px;
	padding-right: 10px;
	border: 1px solid #9a7f3e;
	box-shadow: inset 1px 1px 0 0 #9a7f3e;
	background: #fffef9;
}

input {
	height: 30px;
}

textarea {
	height: 90px;
}

#submit-button {
	width: 120px;
	font-size: 0.9em;
	background: linear-gradient(#7497e6 60%, #3e5a9a);
	border: none;
	box-shadow: none;
	display: block;
	margin: 0 auto;
}

#submit-button:hover,
#submit-button:focus {
	background: #9a7f3e;
}

/*
++++++++++
MODS FOR SMALL SCREENS
++++++++++
*/

/*
 -> adjust header
 -> create collapsible navigation

*/

/*
colors:

https://color.adobe.com/create/color-wheel/?base=0&rule=Complementary&selected=4&name=My%20Color%20Theme&mode=rgb&rgbvalues=0.24313725490196078,0.35294117647058826,0.6039215686274509,0.09196587725999492,0.15647413115444642,0.30392156862745096,0.4543086325439266,0.5911473522215387,0.9039215686274509,0.30392156862745096,0.23169307248583568,0.06157372039724982,0.6039215686274509,0.4963946869069082,0.24313725490196078&swatchOrder=0,1,2,3,4

*/
